@tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;
      --popover:0deg 0% 100% / 10%;
      --popover-foreground: 224 71.4% 4.1%;
      --primary: 262.1 83.3% 57.8%;
      --primary-foreground: 210 20% 98%;
      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;
      --muted: 220deg 14.3% 95.9% / 19%;
      --muted-foreground: 220 8.9% 46.1%;
      --accent: 0deg 0% 100% / 50%;
      --accent-foreground: 220.9 39.3% 11%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 262.1 83.3% 57.8%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;
      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;
      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;
      --primary: 263.4 70% 50.4%;
      --primary-foreground: 210 20% 98%;
      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;
      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;
      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 263.4 70% 50.4%;
    }
  }
  
*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:autofill {
  font: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #fafafa;
}

html::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    position: relative;
    @apply bg-background text-foreground;
    font-family: var(--font-sans, 'Inter', 'Helvetica', 'Arial', sans-serif);

}
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}
a,
button {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

a,
button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.popup{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: pop 0.5s ease-in-out forwards;
}
@keyframes pop {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
  }
  
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}